<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="https://ukhaiz.github.io/voucher" class="btn">Voucher</a>
            <a href="https://ukhaiz.github.io/Template-login" class="btn">Template login</a>
          {% endif %}
          <a href="https://laksa19.github.io" class="btn btn-github"><span class="icon"></span>Mikhmon</a>
        </section>
      </div>
    </header>

    <div class="container demo-1">
		
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					
					<div class="main-title">
				
					<div class="text-center" id="login" style="padding:25px; border: 1px dotted yellow; border-radius: 6px" >
<p class=" text-center"><img src="...images/iamgroot.png">
<br>
<br>
<br></p>
				
 	<form class="form-signin " name="login" action="$(link-lo
	gin-only)" method="post"
	$(if chap-id) onSubmit="return doLogin()" $(endif)>
	<input type="hidden" name="dst" value="$(link-status)" />
	<input type="hidden" name="popup" value="false" />	  
    <input name="username" type="text" value="$(username)" class="form-control" placeholder="Username"><br>
    <input type="password" name="password" class="form-control" placeholder="Password">
    <br>
	<p class="text-center text-danger">&nbsp; $(if error) $(error) $(endif) &nbsp;</p>     
    </label> 
	<input name="submit" type="submit" value="Log In" class="btn btn-lg btn-success btn-block"/>
  </form><br><br> 
 
<div style="padding: 2px; border-top: 1px dotted yellow;">					
<marquee width="100%" bgcolor="transparent" scrollamount="4">
<span style="color:orange;">

<!--RUNNING TEXT-->
<strong>SALGUT OH MY GUD</strong>
&nbsp;
<center><br>muah muah muah</br></center>
</span>
</marquee>
</div>	 
</div>	</div>
				</div>
				
				
			</div>
			<!-- Related demos -->
			
			
		</div><!-- /container -->
		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>

<script type="text/javascript">
<!--
  document.login.username.focus();
//-->
</script>		
	</body>
</html>
